target/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.idea/
.classpath
.project
.settings
.DS_Store
projects/
plugins/
build-res/dojo-*
build-res/module-scripts/
*.class
*.jar
*.war
*.ear
*.iml
/bin
